body {
    width: 100%;
    height: auto;
    justify-content: center;
    background-color: wheat;
    justify-content: center;
    text-align: center;
    margin-left: 10%;
}

table {
    width: 60%;
    border: 1px solid #333;
    font-size: 1.2em;
    border-radius: 10px;
    margin-top: 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

td {
    border: 1px solid #333;
    text-align: left;
    padding-left: 30px;
    font-size: 1.2em;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
    font-size: 1.3em;
}

input {
    border-radius: 10px;
    margin: 20px;
    padding: auto;
    width: 300px;
    height: 50px;
    font-size: 2em;
    align-items: center;
    justify-items: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.update {
    border: 2px solid black;
    width: 40%;
    height: 40%;
    margin: 10%;
    text-align: center;
    align-items: center;
    background-color: rgb(253, 243, 243);
}

.btn_del {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}

.btn_del:hover {
    background-color: #f44336;
    color: white;
}

.btn_eit {
    background-color: white;
    color: black;
    border: 2px solid #009013;
}

.btn_eit:hover {
    background-color: #179706;
    color: white;
}

.btn_add {
    background-color: white;
    color: black;
    border: 2px solid #10b0b6;
}

.btn_add:hover {
    background-color: #10b0b6;
    color: white;
}

button {
    height: 50px;
    border: 0;
    padding: 0 20px;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    border-radius: 10px;
}

.btn {
    width: 60%;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

h3 {
    text-align: center;
    font-size: 2em;
}

.info {
    display: block;
}

.btn_opn {
    width: 60%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding-top: 40px;
}

.tu_link {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.assign {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.usrlit {
    display: flex;
}

label {
    font-family: sans-serif;
    font-size: 1.3rem;
    padding-right: 10px;
}

select {
    font-size: 1.4rem;
    padding: 2px 5px;
}

.ch_box {
    display: flex;
    font-size: 1.4rem;
    padding: 2px 5px;
}